<!-- elevator-death.vtl -->
<img src="img/game_over.png" alt="Game Over" class="image-responsive center-block">
<p id="death_1">Put Laura's copy here.</p>
<a href="/">Live again!</a>
<!-- elevator-death.vtl -->
