<!-- elevator-death.vtl -->
<img src="img/game_over.png" alt="Game Over" class="image-responsive center-block">
<p id="death_1">You feel the elevator start to drop, but in the darkness, you feel something cold drip onto your cheek. As you wipe it away, you hear a scream from above your head, and are quickly knocked to the floor by the weight of your former instructor. As you continue to descend, you hear them gurgle, "We're cleaning out the fridge now." Now it's your turn to scream.</p>
<a href="/">Live again!</a>
<!-- elevator-death.vtl -->
