<!--start.vtl-->
Location: $location.getTitle()<br>
Description: $location.getDescription()<br>
Exits:<br>
#foreach ($exit in $location.getExits())
$exit.getDirection()<br>
#end
<form action="/go" method="post">
  <input id="locationId" name="locationId" type="hidden" value="$location.getId()">
  <label for="command">></label>
  <input id="command" name="command" type="text">
  <button type="submit" class="btn btn-success">Go</button>
</form>
<!--start.vtl-->
